body{
	margin: 0;
	padding: 0;
}
div.block{
	background-color: red;
	margin: 0 auto;
	width: 1200px;
	height: 700px;
	margin-top: 20px;
	margin-bottom: 30px;
    position: relative;
}
div.header{
	background-color: yellow;
	width: 1200px;
    height: 100px;
    position: absolute;
}
div.left{
	background-color: blue;
	width: 300px;
	height: 500px;
	margin-top: 100px;
    position: absolute;
    left: 0px;
}
div.right{
	background-color: blue;
	width: 300px;
	height: 500px;
	margin-top: 100px;
	position: absolute;
	right: 0px;
}
div.center{
	background-color: green;
	margin-top: 100px;
    width: 600px;
    height: 500px;
    position: absolute;
    left: 300px;
}
div.footer{
	background-color: black;
	width: 1200px;
	height: 100px;
	position: absolute;
	bottom: 0px;
}